@import "../_stylebase.scss";

$header-height: 50px;
$header-height-mobile: 40px;

// Main Layout

.app {
  &__header {
    position: relative;
    height: $header-height;
    width: 100%;
    position: fixed;
    background: $color_black;

    @include xs {
      height: $header-height-mobile;
    }
  }

  &__menu {
    display: inline-block;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      margin-right: $indent-size * 3;
      padding-top: 12px;

      a {
        @include link-style($color_white, $color_white);
        @include text($font-family_sans, $font-size_normal, $font-weight_sans_semibold);
      }

      a svg {
        margin-right: $indent-size / 2;
      }

      @include sm {
        padding-top: 15px;
        margin-right: $indent-size * 2;

        a {
          @include text($font-family_sans, $font-size_small, $font-weight_sans_semibold);
        }
      }
    }

    &--active {
      color: $color_white;
    }

    @include xs {
      display: none;
    }
  }

  &__page {
    font-size: 50px;
    font-weight: bold;
    padding-top: $header-height;

    @include xs {
      padding-top: $header-height-mobile;
    }
  }
}

// Witgets

.header {
  &__right {
    color: $color_white;
    float: right;
    white-space: nowrap;

    @include sm {
      padding-top: 7px;
    }

    @include xs {
      padding-top: 6px;
    }
  }

  &__logo {
    @include link-style($color_white, $color_white);
    @include text($font-family_sans, $font-size_large, $font-weight_sans_light);

    @include sm {
        @include text($font-family_sans, round($font-size_normal * 1.25), $font-weight_sans_light);
    }

    @include xs {
        @include text($font-family_sans, $font-size_normal, $font-weight_sans_light);
    }
  }

  &__social {
      margin-right: $indent-size * 2;
      @include link-style($color_white, $color_white);
      @include text($font-family_sans, round($font-size_normal * 1.5), $font-weight_sans_light);

      @include sm {
        margin-right: $indent-size * 1.5;
        @include text($font-family_sans, $font-size_normal, $font-weight_sans_light);
      }

      @include xs {
        position: relative;
        top: -2px;
        margin-right: $indent-size;
        @include text($font-family_sans, $font-size_small, $font-weight_sans_light);
      }
  }

  &__navbar {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    font-size: 20px;
    line-height: $header-height-mobile;
    text-align: center;
    @include link-style($color_white, $color_white);
    @include size($header-height-mobile, $header-height-mobile);

    @include not-xs {
      display: none;
    }
  }
}