@import "../_stylebase.scss";

.page {
  &__menu {
    background: $color_black;
    padding: 10px 20px;
    margin: 0;

    > li {
      display: inline-block;
      font-size: 30px;
      margin-right: 40px;

      a svg {
        margin-right: 10px;
      }
    }

    &--active {
      color: $color_white;
    }
  }

  &__section {
    display: none;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;

    &--active {
      display: block;
    }
  }
}