// Utilities
//////////////////////////////////////////////////////

// Animation class example
//.pulse {
//    $duration: $transition_duration * 2;
//    @include animation('pulse #{$transition_duration} infinite', 'fadeOn #{$duration} forwards');
//}

// Rubber Container
.container-fluid {
  padding-left: $indent-size;
  padding-right: $indent-size;

  @include xs {
    padding-left: $indent-size / 2;
    padding-right: $indent-size / 2;
  }
}