@import "../_stylebase.scss";

// Lightbox customization

.ril {
  &__outer {
    background: $color_black;
  }

  &__toolbar,
  &__navButtonPrev,
  &__navButtonNext {
    background-color: transparent;
  }

  &__navButtonPrev,
  &__navButtonNext {
    opacity: 0.5;
    padding: 0;
    @include size(25px, 25px);

    &:active,
    &:focus {
      outline: none;
    }

    @include xs {
      display: none;
    }
  }

  // stylelint-disable no-descending-specificity
  &__navButtonPrev {
    left: 20px;
    background: url("#{$image-path}prev_dark.svg") 50% 50% no-repeat;
    background-size: cover;
  }

  &__navButtonNext {
    right: 20px;
    background: url("#{$image-path}next_dark.svg") 50% 50% no-repeat;
    background-size: cover;
  }
  // stylelint-enable no-descending-specificity

  &__closeButton {
    opacity: 0.5;
    background: url("#{$image-path}close_dark.svg") 50% 50% no-repeat;
    background-size: cover;
    @include size(25px, 25px);

    &:active,
    &:focus {
      outline: none;
    }

    @include xs {
      margin-right: 7px;
    }
  }

  &__toolbarRightSide,
  &__toolbarLeftSide {
    @include xs {
      padding: 0;
    }
  }

  &__toolbar,
  &__toolbarSide {
    @include xs {
      height: 30px;
    }
  }

  &__toolbarItem {
    @include xs {
      line-height: 30px;
    }
  }

  &__loadingCirclePoint::before {
    background-color: $color_text_light-theme;
  }
}
