@import "../_stylebase.scss";

// Lightbox customization

.ril__outer {
  background: $color_black;
}

.ril__toolbar,
.ril__navButtonPrev,
.ril__navButtonNext {
  background-color: transparent;
}

.ril__navButtonPrev,
.ril__navButtonNext {
  opacity: 0.5;
  padding: 0;
  @include size(35px, 35px);

  &:active, &:focus {
    outline: none;
  }

  @include xs {
    display: none;
  }
}

.ril__navButtonPrev {
  left: 20px;
  background: url("#{$image-path}prev_dark.svg") 50% 50% no-repeat;
  background-size: cover;
}
.ril__navButtonNext {
  right: 20px;
  background: url("#{$image-path}next_dark.svg") 50% 50% no-repeat;
  background-size: cover;
}

.ril__closeButton {
  opacity: 0.5;
  background: url("#{$image-path}close_dark.svg") 50% 50% no-repeat;
  background-size: cover;
  @include size(35px, 35px);

  &:active, &:focus {
    outline: none;
  }
}

.ril__toolbarRightSide,
.ril__toolbarLeftSide {
  @include xs {
    padding: 0;
  }
}

.ril__builtinButton {
  @include xs {
    vertical-align: top;
    @include size(40px, 40px);
  }
}

.ril__toolbar,
.ril__toolbarSide  {
  @include xs {
    height: 40px;
  }
}

.ril__toolbarItem {
  @include xs {
    line-height: 40px;
  }
}

.light-theme {
  &.ril__outer {
    background: $color_white;
  }

  .ril__navButtonPrev {
    background: url("#{$image-path}prev_light.svg") 50% 50% no-repeat;
    background-size: cover;
  }
  .ril__navButtonNext {
    background: url("#{$image-path}next_light.svg") 50% 50% no-repeat;
    background-size: cover;
  }

  .ril__closeButton {
    background: url("#{$image-path}close_light.svg") 50% 50% no-repeat;
    background-size: cover;
  }
}
